src - 26 March/flows/NewTicket.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_to_HelpDesk_chatter_group</name>
        <label>Post to HelpDesk chatter group</label>
        <locationX>803</locationX>
        <locationY>68</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Navigate</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessgaeTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>newHelpDeskRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <description>To check whether we are updating or Inserting</description>
        <name>Is_Record_Id_Exists</name>
        <label>Is Record Id Exists</label>
        <locationX>309</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Gather_Input_for_Helpdesk_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Insert</defaultConnectorLabel>
        <rules>
            <name>If_Record_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gather_Input_for_helpdesk_record</targetReference>
            </connector>
            <label>Is Update</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Ticket issue category</description>
        <name>Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>HelpDesk_Ticket__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Category1Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>HelpDesk_Ticket__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Description</name>
        <dataType>String</dataType>
        <displayField>Description__c</displayField>
        <object>HelpDesk_Ticket__c</object>
        <valueField>Description__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>HelpDesk_Ticket__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>NewTicket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewTicket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Note</name>
        <label>Create Child Note</label>
        <locationX>920</locationX>
        <locationY>273</locationY>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_HelpDesk_record</name>
        <label>Create HelpDesk record</label>
        <locationX>649</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Post_to_HelpDesk_chatter_group</targetReference>
        </connector>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_HelpDesk_Record</name>
        <label>Get HelpDesk Record</label>
        <locationX>169</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Id_Exists</targetReference>
        </connector>
        <object>Account</object>
        <outputReference>test</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Help_Desk_Record</name>
        <label>Update Help Desk Record</label>
        <locationX>665</locationX>
        <locationY>274</locationY>
        <connector>
            <targetReference>Notes_Body</targetReference>
        </connector>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>Gather all the input field in order to create new helpdesk record</description>
        <name>Gather_Input_for_helpdesk_record</name>
        <label>Gather Input for helpdesk record</label>
        <locationX>529</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Help_Desk_Record</targetReference>
        </connector>
        <fields>
            <name>TicketSubject</name>
            <fieldText>Subject :</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TicketType</name>
            <fieldText>Type :</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TicketStatus</name>
            <fieldText>Ticket Status :</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TicketDescription</name>
            <fieldText>Ticket Description :</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nextScreenMessage</name>
            <fieldText>Click on next to add additional notes to this ticket</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gather_Input_for_Helpdesk_Ticket</name>
        <label>Gather Input for Helpdesk Ticket</label>
        <locationX>521</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_HelpDesk_record</targetReference>
        </connector>
        <fields>
            <name>Subject1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Category1</name>
            <choiceReferences>Category1Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TicketStatus1</name>
            <fieldText>Ticket Status
New</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ticket_Description1</name>
            <dataType>String</dataType>
            <fieldText>Ticket Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Navigate to newly created helpdesk record</description>
        <name>Navigate</name>
        <label>Navigate</label>
        <locationX>934</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>setRedirectHelpDesk</name>
            <extensionName>c:FlowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>newHelpDeskRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newHelpDeskRecordId</assignToReference>
                <name>recId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Enter Notes when Updating</description>
        <name>Notes_Body</name>
        <label>Notes Body</label>
        <locationX>797</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Child_Note</targetReference>
        </connector>
        <fields>
            <name>Enter_Notes</name>
            <fieldText>Enter Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_HelpDesk_Record</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ChatterMessgaeTemplate</name>
        <text>New ticket has been created.</text>
    </textTemplates>
    <variables>
        <description>Newly created helpdesk record Id</description>
        <name>newHelpDeskRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Ticket_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTicketStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
