CaseManagement/force-app/main/default/flows/CaseManager_Manage_Case_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Selected_Case_Picklist</name>
        <label>Fetch Selected Case Picklist</label>
        <locationX>482</locationX>
        <locationY>521</locationY>
        <actionName>CaseMgmt_CasePlanController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Again_Create_Or_Edit</targetReference>
        </connector>
        <inputParameters>
            <name>RecordIdList</name>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CaseStatesOrder</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Selected_Case_Order</name>
        <label>Assign Selected Case Order</label>
        <locationX>1161</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>selectedCaseStatusOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCasePlan.CaseStatusOrdering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Case_Plan_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_RecordTypeId</name>
        <label>Assign Selected RecordTypeId</label>
        <locationX>487</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCasePlan.RecordTypeId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Selected_Case_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_CSV</name>
        <label>Assign To CSV</label>
        <locationX>42</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCSVVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordTypeCSVFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_RecordType_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Values_To_Dual_list</name>
        <label>Assign  Updated Values To Dual List</label>
        <locationX>850</locationX>
        <locationY>1304</locationY>
        <assignmentItems>
            <assignToReference>selectedCaseStatusOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curCasePlan.CaseStatusOrdering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Plan_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Assignment</name>
        <label>Create Assignment</label>
        <locationX>1969</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>createPlanStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>manage_Case_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_Assignment</name>
        <label>Delete Assignment</label>
        <locationX>2165</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>DeletePlanStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>manage_Case_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Edit_Assignment</name>
        <label>Edit Assignment</label>
        <locationX>2350</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>editPlanStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>manage_Case_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetCasePlanData</name>
        <label>GetCasePlanData</label>
        <locationX>51</locationX>
        <locationY>1078</locationY>
        <assignmentItems>
            <assignToReference>SelectedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CasePlanRecordVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Plan_After_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>create_Choice</name>
        <choiceText>Create New Case Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreateCasePlan</elementReference>
        </value>
    </choices>
    <choices>
        <name>DefineNewPlanStep</name>
        <choiceText>Add Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edit</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModifyExistingPlanStep</name>
        <choiceText>Edit or Delete Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlanManager_Done</name>
        <choiceText>Done</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>done</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlanManager_EditPlan</name>
        <choiceText>Edit Plan Settings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>editPlanSettings</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlanManager_ManageSteps</name>
        <choiceText>Manage Plan Steps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>manageSteps</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlanManager_ReturnToPlans</name>
        <choiceText>View All Case Plans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>goPlans</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlanManager_ViewPlans</name>
        <choiceText>View Existing Case Plans</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varEditAction</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Add_or_Delete_Branch</name>
        <label>Add or Edit Branch</label>
        <locationX>1930</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Edit_Or_Delete_Plan_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Modify</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOrEditRadioButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DefineNewPlanStep</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assignment</targetReference>
            </connector>
            <label>Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Plan_Exist</name>
        <label>Case Plan Exist</label>
        <locationX>772</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Plan_Is_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casePlanRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Plan_List_View</targetReference>
            </connector>
            <label>Case Plan Is Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Again_Create_Or_Edit</name>
        <label>Check Again Create Or Edit</label>
        <locationX>697</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Plan_Screen</targetReference>
            </connector>
            <label>IsCreate</label>
        </rules>
        <rules>
            <name>isEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanManager_ViewPlans</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Case_Plan_Screen</targetReference>
            </connector>
            <label>isEdit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Output</name>
        <label>Check Output</label>
        <locationX>2436</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flow_Call_By_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Output</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Created By User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Plan_Steps_Of_Case_Plan</targetReference>
            </connector>
            <label>Is Flow Call By Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Id_is_Null</name>
        <label>Check Selected Id is Null</label>
        <locationX>1009</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Case_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Id_Selected</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Similar_Record_Found</name>
        <label>Check Similar Record Found</label>
        <locationX>488</locationX>
        <locationY>729</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SimilarCasePlanRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Similar_Case_Plan</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SimilarCasePlanRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Selected_Case_Picklist</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Similar_When_Update_Record</name>
        <label>Check Similar When Update Record</label>
        <locationX>1018</locationX>
        <locationY>784</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundWhenEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SimilarCasePlanRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Similar_Case_Plan_Update</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Not_Found_When_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SimilarCasePlanRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Case_Order</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Slected_Item_In_List</name>
        <label>Check Slected Item In List</label>
        <locationX>1315</locationX>
        <locationY>745</locationY>
        <defaultConnector>
            <targetReference>GetSelectedRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Item_Slected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedCaseStatusOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedCaseStatusOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorSelectedMessage</targetReference>
            </connector>
            <label>No Item Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSelecttion</name>
        <label>CheckSelecttion</label>
        <locationX>1845</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Type_of_Modification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Id_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPlanStepId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Selected Id Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateOrEdit</name>
        <label>Create Or Edit</label>
        <locationX>245</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Create_Case_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Plan</targetReference>
            </connector>
            <label>Create Case Plan</label>
        </rules>
        <rules>
            <name>Outcome_Edit_Case_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanManager_ViewPlans</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Plan</targetReference>
            </connector>
            <label>Edit Case Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Handle_Plan_Manager_Action_Choice</name>
        <label>Handle Plan Manager Action Choice</label>
        <locationX>1407</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>User is done</defaultConnectorLabel>
        <rules>
            <name>User_will_manage_steps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanManager_Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>manageSteps</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Plan_Steps_Of_Case_Plan</targetReference>
            </connector>
            <label>User will manage steps</label>
        </rules>
        <rules>
            <name>User_will_return_to_plans_list</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanManager_Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>goPlans</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Plan</targetReference>
            </connector>
            <label>User will return to plans list</label>
        </rules>
        <rules>
            <name>User_will_edit_Plan_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanManager_Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>editPlanSettings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Case_Plan_Screen</targetReference>
            </connector>
            <label>User will edit Plan details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Item_Selected</name>
        <label>Is Item Selected</label>
        <locationX>565</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>GetSelectedRecordTypeDataCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_Not_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedCaseStatusOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedCaseStatusOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Error_Message</targetReference>
            </connector>
            <label>Item Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modification_Type</name>
        <label>Modification Type</label>
        <locationX>1497</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Get_New_Records_for_Case_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Modification</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckSelecttion</targetReference>
            </connector>
            <label>Modification</label>
        </rules>
        <rules>
            <name>Modification_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefineNewPlanStep</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Modification Selected And But Option Not Slected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Modification</name>
        <label>Type of Modification</label>
        <locationX>2158</locationX>
        <locationY>621</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeleteModification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Assignment</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>EditModification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Assignment</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
    </decisions>
    <formulas>
        <name>fieldsDataCSV</name>
        <dataType>String</dataType>
        <expression>{!loopRecordVar.Id}&amp;&quot;,&quot;&amp;{!loopRecordVar.Name}&amp;&quot;,&quot;&amp;{!loopRecordVar.CaseStatusOrdering__c}&amp;&quot;,&quot;&amp;{!loopRecordVar.RecordType_SupportProcess__c}</expression>
    </formulas>
    <formulas>
        <name>RecordTypeCSVFormula</name>
        <dataType>String</dataType>
        <expression>{!RecordTypeData.Id}&amp;&quot;,&quot;&amp;{!RecordTypeData.DeveloperName}&amp;&quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Manage Case Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseManager Manage Case Plan</label>
    <loops>
        <name>Loop_Over_RecordType_Records</name>
        <label>Loop Over RecordType Records</label>
        <locationX>43</locationX>
        <locationY>336</locationY>
        <assignNextValueToReference>RecordTypeData</assignNextValueToReference>
        <collectionReference>ListOfRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_CSV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOrEdit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Plan_Record</name>
        <label>Create Case Plan Record</label>
        <locationX>58</locationX>
        <locationY>688</locationY>
        <assignRecordIdToReference>CasePlanRecordVar.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Case_Plan_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseStatusOrdering__c</field>
            <value>
                <elementReference>selectedCaseStatusOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Case_Plan_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__c</field>
            <value>
                <elementReference>SelectedRecordTypeValue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordType_SupportProcess__c</field>
            <value>
                <elementReference>SelectedRecordTypeValue.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Plan</name>
        <label>Get Case Plan</label>
        <locationX>550</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Plan_Exist</targetReference>
        </connector>
        <object>Case_Plan__c</object>
        <outputReference>casePlanRecordList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Plan_After_Update</name>
        <label>Get Case Plan After Update</label>
        <locationX>255</locationX>
        <locationY>1237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Updated_Values_To_Dual_list</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>curCasePlan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Records_for_Case_Plan</name>
        <label>Get New Records for Case Plan</label>
        <locationX>1248</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case_Plan_List</targetReference>
        </connector>
        <object>Case_Plan__c</object>
        <outputReference>casePlanRecordList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Steps_Of_Case_Plan</name>
        <label>Get Plan Steps Of Case Plan</label>
        <locationX>1691</locationX>
        <locationY>1246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Plan_Steps</targetReference>
        </connector>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curCasePlan.Id</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>PlanStepRecordsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Flow__c</queriedFields>
        <queriedFields>Associate_Case_Status__c</queriedFields>
        <queriedFields>Start_When__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>51</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_RecordType_Records</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ListOfRecordTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Case_Plan</name>
        <label>Get Selected Case Plan</label>
        <locationX>775</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Selected_RecordTypeId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>curCasePlan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Similar_Record_When_Edit</name>
        <label>Get Similar Record When Edit</label>
        <locationX>972</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Similar_When_Update_Record</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CasePlanName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>curCasePlan.Name</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>SimilarCasePlanRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Similiar_Record</name>
        <label>Get Similar Record</label>
        <locationX>355</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Similar_Record_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Plan_Name</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>SimilarCasePlanRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedRecordType</name>
        <label>GetSelectedRecordType</label>
        <locationX>1329</locationX>
        <locationY>954</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Edited_Record_case_Plan</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>SelectedRecordTypeValue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedRecordTypeDataCreate</name>
        <label>GetSelectedRecordTypeDataCreate</label>
        <locationX>297</locationX>
        <locationY>991</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Plan_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>SelectedRecordTypeValue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Edited_Record_case_Plan</name>
        <label>Update Edited Record case Plan</label>
        <locationX>1212</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>Get_Case_Plan_After_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseStatusOrdering__c</field>
            <value>
                <elementReference>selectedCaseStatusOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__c</field>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordType_SupportProcess__c</field>
            <value>
                <elementReference>SelectedRecordTypeValue.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan__c</object>
    </recordUpdates>
    <screens>
        <name>Case_Plan_Created</name>
        <label>Case Plan Created</label>
        <locationX>51</locationX>
        <locationY>934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCasePlanData</targetReference>
        </connector>
        <fields>
            <name>CasePlanSuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case Plan {!Case_Plan_Name} Created.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Plan_Details</name>
        <label>Case Plan Details</label>
        <locationX>1106</locationX>
        <locationY>1306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Handle_Plan_Manager_Action_Choice</targetReference>
        </connector>
        <fields>
            <name>CasePlanDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Case Plan Details﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Plan Name: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!curCasePlan.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PlanManager_Select_Action</name>
            <choiceReferences>PlanManager_EditPlan</choiceReferences>
            <choiceReferences>PlanManager_ManageSteps</choiceReferences>
            <choiceReferences>PlanManager_ReturnToPlans</choiceReferences>
            <choiceReferences>PlanManager_Done</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Plan_List_View</name>
        <label>Case Plan List View</label>
        <locationX>1018</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Id_is_Null</targetReference>
        </connector>
        <fields>
            <name>DisplayHeaderForExistngCasePlan</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Select Case Plan&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CasePlanDataTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>CasePlanColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCasePlan</name>
                <value>
                    <elementReference>casePlanRecordList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Case_Plan</name>
        <label>Create Case Plan</label>
        <locationX>248</locationX>
        <locationY>517</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Similiar_Record</targetReference>
        </connector>
        <fields>
            <name>DisplaytextRecordTypeScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create New Case Plan&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Plan_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>caseRecordTypeComponent</name>
            <extensionName>c:caseMgmt_CaseRecordTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordTypeCSV</name>
                <value>
                    <elementReference>RecordTypeCSVVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedRecordTypeId</name>
                <value>
                    <elementReference>SelectedRecordType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelPicklist</name>
                <value>
                    <stringValue>Link to which Case Record Type?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedRecordType</assignToReference>
                <name>SelectedRecordTypeId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>noteCaseRecordType</name>
            <fieldText>&lt;p&gt;Each Case Record Type can have several Case Plans associated with it, but only one can be Active. Set the Active Case Plan for a record type with a Custom Setting. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Case_Plan_Screen</name>
        <label>Create Case Plan Screen</label>
        <locationX>700</locationX>
        <locationY>785</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Item_Selected</targetReference>
        </connector>
        <fields>
            <name>ManageCaseStatusOrder</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Set the Case Plan Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>caseStatusDualListBox</name>
            <extensionName>c:caseMgmt_CaseStatusDualListBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>StatusOrder</name>
                <value>
                    <elementReference>CaseStatesOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedStatusOrder</name>
                <value>
                    <elementReference>selectedCaseStatusOrder</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedCaseStatusOrder</assignToReference>
                <name>SelectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DisplayToolTip</name>
            <fieldText>&lt;p&gt;When you use a Case Plans, you define a particular order for the different status values of the Case Record type. The Case Plan will then follow that order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Case_Plan_Screen</name>
        <label>Edit Case Plan Screen</label>
        <locationX>859</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Similar_Record_When_Edit</targetReference>
        </connector>
        <fields>
            <name>CasePlanName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>curCasePlan.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RecordType</name>
            <fieldText>Record Type: {!curCasePlan.RecordType_SupportProcess__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Or_Delete_Plan_Step</name>
        <label>Edit Or Delete Plan Step</label>
        <locationX>1502</locationX>
        <locationY>648</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Modification_Type</targetReference>
        </connector>
        <fields>
            <name>PlanStepDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Manage Plan Steps&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_Kind_Of_Modification_Needed</name>
            <choiceReferences>Edit</choiceReferences>
            <choiceReferences>Delete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Edit or Delete?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PlanStepDataTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>PlanStepFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCaseStep</name>
                <value>
                    <elementReference>PlanStepRecordsList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPlanStepId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error!!</label>
        <locationX>449</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Case_Plans</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;No Case Plan found. Please Create One.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1854</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Or_Delete_Plan_Step</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageNoID</name>
            <fieldText>&lt;p&gt;Please select a record from the table.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorSelectedMessage</name>
        <label>ErrorSelectedMessage</label>
        <locationX>1146</locationX>
        <locationY>935</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Similar_When_Update_Record</targetReference>
        </connector>
        <fields>
            <name>ErrorNoItemSelected</name>
            <fieldText>&lt;p&gt;Please select a single value.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Case_Plans</name>
        <label>Manage Case Plans</label>
        <locationX>274</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Create_Or_Edit_choices</name>
            <choiceReferences>create_Choice</choiceReferences>
            <choiceReferences>PlanManager_ViewPlans</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Activity</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Plan_Steps</name>
        <label>Manage Plan Steps</label>
        <locationX>1691</locationX>
        <locationY>920</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_or_Delete_Branch</targetReference>
        </connector>
        <fields>
            <name>AddOrEditRadioButtons</name>
            <choiceReferences>DefineNewPlanStep</choiceReferences>
            <choiceReferences>ModifyExistingPlanStep</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add or Edit Plan Step?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Case_Plan_List</name>
        <label>New Case Plan List</label>
        <locationX>1321</locationX>
        <locationY>171</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>YourCasePlan</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case Plan Setup Completed!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewCasePlanTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>CasePlanColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCasePlan</name>
                <value>
                    <elementReference>casePlanRecordList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Id_Selected</name>
        <label>No Id Selected</label>
        <locationX>1201</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Plan_List_View</targetReference>
        </connector>
        <fields>
            <name>ErrorNoId</name>
            <fieldText>&lt;p&gt;You must select a single Case Plan.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Case_Plan_Status</name>
        <label>Order Case Plan Status</label>
        <locationX>1322</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Slected_Item_In_List</targetReference>
        </connector>
        <fields>
            <name>ScreenMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Configure Case Plan&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseStatusEditComponent</name>
            <extensionName>c:caseMgmt_CaseStatusDualListBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>StatusOrder</name>
                <value>
                    <elementReference>CaseStatesOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isEditScreen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedStatusOrder</name>
                <value>
                    <elementReference>selectedCaseStatusOrder</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedCaseStatusOrder</assignToReference>
                <name>SelectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selected_Error_Message</name>
        <label>Selected Error Message</label>
        <locationX>816</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_Plan_Screen</targetReference>
        </connector>
        <fields>
            <name>ErrorSelectedItem</name>
            <fieldText>&lt;p&gt;You must select an item.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Similar_Case_Plan</name>
        <label>Similar Case Plan</label>
        <locationX>391</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_Plan</targetReference>
        </connector>
        <fields>
            <name>SimilarCasePlanMessage</name>
            <fieldText>&lt;p&gt;A Case Plan already exist with this name. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Similar_Case_Plan_Update</name>
        <label>Similar Case Plan Update</label>
        <locationX>828</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Case_Plan_Screen</targetReference>
        </connector>
        <fields>
            <name>SimilarCasePlanWhenUpdate</name>
            <fieldText>&lt;p&gt;A Case Plan already exists with this name.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Manage_Case_Plans</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>manage_Case_Steps</name>
        <label>manage Case Step</label>
        <locationX>2434</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>Check_Output</targetReference>
        </connector>
        <flowName>Create_Case_Step_Flow</flowName>
        <inputAssignments>
            <name>CaseId</name>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatusOrder</name>
            <value>
                <elementReference>curCasePlan.CaseStatusOrdering__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Create</name>
            <value>
                <elementReference>createPlanStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Delete</name>
            <value>
                <elementReference>DeletePlanStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Edit</name>
            <value>
                <elementReference>editPlanStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedPlanStepId</name>
            <value>
                <elementReference>SelectedPlanStepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isAdmin</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>curCasePlanId</name>
            <value>
                <elementReference>curCasePlan.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createPlanStep</assignToReference>
            <name>CreateDone</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DeletePlanStep</assignToReference>
            <name>DeleteDone</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>editPlanStep</assignToReference>
            <name>EditDone</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Message</assignToReference>
            <name>Message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Output</assignToReference>
            <name>Output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CasePlanColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;Case Status Ordering,CaseStatusOrdering__c,text;RecordType,RecordType_SupportProcess__c,text</stringValue>
        </value>
    </variables>
    <variables>
        <name>casePlanRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>CasePlanRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>CaseStatesOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateCasePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&#39;Create&#39;</stringValue>
        </value>
    </variables>
    <variables>
        <name>createPlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>DeletePlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>editPlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListOfRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>loopRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlanStepFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;Parent/Predecessor,Start_When__c,text;Flow,Flow__c,text;Case Status,Associate_Case_Status__c,text;Required,Is_Required__c,boolean;</stringValue>
        </value>
    </variables>
    <variables>
        <name>PlanStepRecordsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Step__c</objectType>
    </variables>
    <variables>
        <name>RecordTypeCSVVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>selectedCaseStatusOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPlanStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordTypeValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SimilarCasePlanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>SimmilarCasePlanList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>varEditAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </variables>
</Flow>
