src/flows/Create_Case_Plan_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Selected_Case_Picklist</name>
        <label>Fetch Selected Case Picklist</label>
        <locationX>432</locationX>
        <locationY>380</locationY>
        <actionName>CaseMgmt_CasePlanController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Again_Create_Or_Edit</targetReference>
        </connector>
        <inputParameters>
            <name>RecordIdList</name>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CaseStatesOrder</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Selected_RecordTypeId</name>
        <label>Assign Selected RecordTypeId</label>
        <locationX>591</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeCasePlanRecord.RecordTypeId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Selected_Case_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_CSV</name>
        <label>Assign To CSV</label>
        <locationX>42</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCSVVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordTypeCSVFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_RecordType_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Assignment</name>
        <label>Create Assignment</label>
        <locationX>1215</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>createPlanStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>manage_Case_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_Assignment</name>
        <label>Delete Assignment</label>
        <locationX>1481</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>DeletePlanStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>manage_Case_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Edit_Assignment</name>
        <label>Edit Assignment</label>
        <locationX>1570</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>editPlanStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>manage_Case_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetCasePlanData</name>
        <label>GetCasePlanData</label>
        <locationX>308</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>SelectedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CasePlanRecordVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Plan_After_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>create_Choice</name>
        <choiceText>Create New Case Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreateCasePlan</elementReference>
        </value>
    </choices>
    <choices>
        <name>DefineNewPlanStep</name>
        <choiceText>Define New Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <choices>
        <name>Delete</name>
        <choiceText>Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edit</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>edit_choice</name>
        <choiceText>Edit Existing Case Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>EditCasePlan</elementReference>
        </value>
    </choices>
    <choices>
        <name>ModifyExistingPlanStep</name>
        <choiceText>Modify Existing Plan Step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Plan_Exist</name>
        <label>Case Plan Exist</label>
        <locationX>539</locationX>
        <locationY>66</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Plan_Is_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casePlanRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Case_Plan</targetReference>
            </connector>
            <label>Case Plan Is Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Again_Create_Or_Edit</name>
        <label>Check Again Create Or Edit</label>
        <locationX>567</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Plan_Screen</targetReference>
            </connector>
            <label>IsCreate</label>
        </rules>
        <rules>
            <name>isEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>edit_choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Case_Plan_Screen</targetReference>
            </connector>
            <label>isEdit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Output</name>
        <label>Check Output</label>
        <locationX>1613</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flow_Call_By_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Output</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Created By User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Plan_Steps_Of_Case_Plan</targetReference>
            </connector>
            <label>Is Flow Call By Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Id_is_Null</name>
        <label>Check Selected Id is Null</label>
        <locationX>1013</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Case_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Id_Selected</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSelecttion</name>
        <label>CheckSelecttion</label>
        <locationX>1357</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Type_of_Modification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Id_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPlanStepId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Selected Id Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateOrEdit</name>
        <label>Create Or Edit</label>
        <locationX>245</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Case_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordTypeSelectScreen</targetReference>
            </connector>
            <label>Create Case Plan</label>
        </rules>
        <rules>
            <name>Edit_Case_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>edit_choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Plan</targetReference>
            </connector>
            <label>Edit Case Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modification_Type</name>
        <label>Modification Type</label>
        <locationX>1204</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>Get_New_Records_for_Case_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Define_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefineNewPlanStep</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assignment</targetReference>
            </connector>
            <label>Define New</label>
        </rules>
        <rules>
            <name>Modification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ModifyExistingPlanStep</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckSelecttion</targetReference>
            </connector>
            <label>Modification</label>
        </rules>
        <rules>
            <name>Modification_Not_Checked_But_Option_Selected</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>ModifyExistingPlanStep</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DefineNewPlanStep</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Modification_Selected</targetReference>
            </connector>
            <label>Modification Not Checked But Option Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Modification</name>
        <label>Type of Modification</label>
        <locationX>1472</locationX>
        <locationY>628</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeleteModification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Assignment</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>EditModification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Assignment</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
    </decisions>
    <formulas>
        <name>fieldsDataCSV</name>
        <dataType>String</dataType>
        <expression>{!loopRecordVar.Id}&amp;&quot;,&quot;&amp;{!loopRecordVar.Name}&amp;&quot;,&quot;&amp;{!loopRecordVar.CaseStatusOrdering__c}&amp;&quot;,&quot;&amp;{!loopRecordVar.RecordType_SupportProcess__c}</expression>
    </formulas>
    <formulas>
        <name>RecordTypeCSVFormula</name>
        <dataType>String</dataType>
        <expression>{!RecordTypeData.Id}&amp;&quot;,&quot;&amp;{!RecordTypeData.DeveloperName}&amp;&quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Create Case Plan Flo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Case Plan</label>
    <loops>
        <name>Loop_Over_RecordType_Records</name>
        <label>Loop Over RecordType Records</label>
        <locationX>43</locationX>
        <locationY>336</locationY>
        <assignNextValueToReference>RecordTypeData</assignNextValueToReference>
        <collectionReference>ListOfRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_CSV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOrEdit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Plan_Record</name>
        <label>Create Case Plan Record</label>
        <locationX>43</locationX>
        <locationY>666</locationY>
        <assignRecordIdToReference>CasePlanRecordVar.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Case_Plan_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseStatusOrdering__c</field>
            <value>
                <elementReference>CaseStatesOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Case_Plan_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__c</field>
            <value>
                <elementReference>SelectedRecordTypeValue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordType_SupportProcess__c</field>
            <value>
                <elementReference>SelectedRecordTypeValue.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Plan</name>
        <label>Get Case Plan</label>
        <locationX>353</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Plan_Exist</targetReference>
        </connector>
        <object>Case_Plan__c</object>
        <outputReference>casePlanRecordList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Plan_After_Update</name>
        <label>Get Case Plan After Update</label>
        <locationX>498</locationX>
        <locationY>775</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Plan_Steps_Of_Case_Plan</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>storeCasePlanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Records_for_Case_Plan</name>
        <label>Get New Records for Case Plan</label>
        <locationX>997</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case_Plan_List</targetReference>
        </connector>
        <object>Case_Plan__c</object>
        <outputReference>casePlanRecordList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Plan_Steps_Of_Case_Plan</name>
        <label>Get Plan Steps Of Case Plan</label>
        <locationX>1216</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Plan_Steps</targetReference>
        </connector>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeCasePlanRecord.Id</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>PlanStepRecordsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Flow__c</queriedFields>
        <queriedFields>Associate_Case_Status__c</queriedFields>
        <queriedFields>Start_When__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>51</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_RecordType_Records</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ListOfRecordTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Case_Plan</name>
        <label>Get Selected Case Plan</label>
        <locationX>790</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Selected_RecordTypeId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>storeCasePlanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedRecordType</name>
        <label>GetSelectedRecordType</label>
        <locationX>733</locationX>
        <locationY>512</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Edited_Record_case_Plan</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>SelectedRecordTypeValue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedRecordTypeDataCreate</name>
        <label>GetSelectedRecordTypeDataCreate</label>
        <locationX>319</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Plan_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>SelectedRecordTypeValue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Edited_Record_case_Plan</name>
        <label>Update Edited Record case Plan</label>
        <locationX>733</locationX>
        <locationY>680</locationY>
        <connector>
            <targetReference>Get_Case_Plan_After_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseStatusOrdering__c</field>
            <value>
                <elementReference>CaseStatesOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__c</field>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordType_SupportProcess__c</field>
            <value>
                <elementReference>SelectedRecordTypeValue.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan__c</object>
    </recordUpdates>
    <screens>
        <name>Case_Plan_Created</name>
        <label>Case Plan Created</label>
        <locationX>173</locationX>
        <locationY>776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCasePlanData</targetReference>
        </connector>
        <fields>
            <name>CasePlanSuccessMessage</name>
            <fieldText>Case Plan {!Case_Plan_Name} Created
Click on the Next button to manage case steps for this case plan</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Case_Plan_Screen</name>
        <label>Create Case Plan Screen</label>
        <locationX>576</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSelectedRecordTypeDataCreate</targetReference>
        </connector>
        <fields>
            <name>ManageCaseStatusOrder</name>
            <fieldText>Manage Case Status Order</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>caseStatusDualListBox</name>
            <extensionName>c:caseMgmt_CaseStatusDualListBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>StatusOrder</name>
                <value>
                    <elementReference>CaseStatesOrder</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseStatesOrder</assignToReference>
                <name>StatusOrder</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DisplayToolTip</name>
            <fieldText>Case Plans allow you to specify the order in which the case transitions through its stages.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateCase_Plan</name>
        <label>Select Choice</label>
        <locationX>169</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Create_Or_Edit_choices</name>
            <choiceReferences>create_Choice</choiceReferences>
            <choiceReferences>edit_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Plan Manager</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Case_Plan_Screen</name>
        <label>Edit Case Plan Screen</label>
        <locationX>739</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Case_Plan_Edit</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>storeCasePlanRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Case Plan Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordType</name>
            <fieldText>Record Type: {!storeCasePlanRecord.RecordType_SupportProcess__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error!!</label>
        <locationX>301</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase_Plan</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>No Case Plan Exist Please Create One</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1361</locationX>
        <locationY>582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Plan_Steps</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageNoID</name>
            <fieldText>Please select a record from table and then click next.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Case_Plan</name>
        <label>Existing Case Plan</label>
        <locationX>790</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Id_is_Null</targetReference>
        </connector>
        <fields>
            <name>DisplayHeaderForExistngCasePlan</name>
            <fieldText>Select Case Plan to Edit</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CasePlanDataTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>CasePlanColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCasePlan</name>
                <value>
                    <elementReference>casePlanRecordList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Case_Plan_Edit</name>
        <label>Manage Case Plan</label>
        <locationX>889</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSelectedRecordType</targetReference>
        </connector>
        <fields>
            <name>ScreenMessage</name>
            <fieldText>Configure Case Plan</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseStatusEditComponent</name>
            <extensionName>c:caseMgmt_CaseStatusDualListBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>StatusOrder</name>
                <value>
                    <elementReference>CaseStatesOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isEditScreen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedStatusOrder</name>
                <value>
                    <elementReference>storeCasePlanRecord.CaseStatusOrdering__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseStatesOrder</assignToReference>
                <name>SelectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Plan_Steps</name>
        <label>Manage Plan Steps</label>
        <locationX>1216</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Modification_Type</targetReference>
        </connector>
        <fields>
            <name>Manage_Plan_Step</name>
            <choiceReferences>DefineNewPlanStep</choiceReferences>
            <choiceReferences>ModifyExistingPlanStep</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Manage Plan Steps</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PlanStepDataTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>PlanStepFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCaseStep</name>
                <value>
                    <elementReference>PlanStepRecordsList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPlanStepId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>What_Kind_Of_Modification_Needed</name>
            <choiceReferences>Edit</choiceReferences>
            <choiceReferences>Delete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Kind Of Modification Needed</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Case_Plan_List</name>
        <label>New Case Plan List</label>
        <locationX>1093</locationX>
        <locationY>320</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>YourCasePlan</name>
            <fieldText>Case Plan Setup Completed!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewCasePlanTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>CasePlanColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCasePlan</name>
                <value>
                    <elementReference>casePlanRecordList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Id_Selected</name>
        <label>No Id Selected</label>
        <locationX>1016</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Existing_Case_Plan</targetReference>
        </connector>
        <fields>
            <name>ErrorNoId</name>
            <fieldText>No Record Selected From Case Plan, Please Select One Record.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Modification_Selected</name>
        <label>No Modification Selected</label>
        <locationX>1006</locationX>
        <locationY>575</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manage_Plan_Steps</targetReference>
        </connector>
        <fields>
            <name>NoModificationError</name>
            <fieldText>Please select &apos;Modify Existing Plan Step&apos; from above choices, then select a record and chose one modification type!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordTypeSelectScreen</name>
        <label>Select Record Type</label>
        <locationX>205</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Selected_Case_Picklist</targetReference>
        </connector>
        <fields>
            <name>DisplaytextRecordTypeScreen</name>
            <fieldText>Create New Case Plan</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Plan_Name</name>
            <dataType>String</dataType>
            <fieldText>Case Plan Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>caseRecordTypeComponent</name>
            <extensionName>c:caseMgmt_CaseRecordTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordTypeCSV</name>
                <value>
                    <elementReference>RecordTypeCSVVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedRecordTypeId</name>
                <value>
                    <elementReference>SelectedRecordType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelPicklist</name>
                <value>
                    <stringValue>Link this Case Plan to Support Process</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedRecordType</assignToReference>
                <name>SelectedRecordTypeId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>CreateCase_Plan</startElementReference>
    <status>Active</status>
    <subflows>
        <name>manage_Case_Steps</name>
        <label>manage Case Step</label>
        <locationX>1614</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>Check_Output</targetReference>
        </connector>
        <flowName>Create_Case_Step_Flow</flowName>
        <inputAssignments>
            <name>CaseId</name>
        </inputAssignments>
        <inputAssignments>
            <name>CasePlanRecord</name>
            <value>
                <elementReference>storeCasePlanRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatusOrder</name>
            <value>
                <elementReference>storeCasePlanRecord.CaseStatusOrdering__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Create</name>
            <value>
                <elementReference>createPlanStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Delete</name>
            <value>
                <elementReference>DeletePlanStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Edit</name>
            <value>
                <elementReference>editPlanStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isAdmin</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedPlanStepId</name>
            <value>
                <elementReference>SelectedPlanStepId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Message</assignToReference>
            <name>Message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Output</assignToReference>
            <name>Output</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CasePlanColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;Case Status Ordering,CaseStatusOrdering__c,text;Support Process,RecordType_SupportProcess__c,text</stringValue>
        </value>
    </variables>
    <variables>
        <name>casePlanRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>CasePlanRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>CaseStatesOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateCasePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;Create&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>createPlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeletePlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EditCasePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </variables>
    <variables>
        <name>editPlanStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListOfRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>loopRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlanStepFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;Parent/Predecessor,Start_When__c,text;;Flow,Flow__c,text</stringValue>
        </value>
    </variables>
    <variables>
        <name>PlanStepRecordsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Step__c</objectType>
    </variables>
    <variables>
        <name>RecordTypeCSVVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>selectedCaseStatusOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPlanStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordTypeValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>storeCasePlanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
</Flow>
