src/flows/Create_Case_Plan_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Selected_Case_Picklist</name>
        <label>Fetch Selected Case Picklist</label>
        <locationX>427</locationX>
        <locationY>381</locationY>
        <actionName>CaseMgmt_CasePlanController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Again_Create_Or_Edit</targetReference>
        </connector>
        <inputParameters>
            <name>RecordIdList</name>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CaseStatesOrder</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Case_Status_Order</name>
        <label>Update Case Status Order</label>
        <locationX>1358</locationX>
        <locationY>388</locationY>
        <actionName>CaseMgmt_CasePlanController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Manage_Case_Plan_Edit</targetReference>
        </connector>
        <inputParameters>
            <name>RecordIdList</name>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CaseStatesOrder</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Selected_RecordTypeId</name>
        <label>Assign Selected RecordTypeId</label>
        <locationX>494</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeCasePlanRecord.RecordTypeId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Selected_Case_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_CSV</name>
        <label>Assign To CSV</label>
        <locationX>42</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCSVVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordTypeCSVFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_RecordType_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCaseStatusOrder</name>
        <label>AssignCaseStatusOrder</label>
        <locationX>1106</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>selectedCaseStatusOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeCasePlanRecord.CaseStatusOrdering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Status_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Selectd</name>
        <label>Empty Selectd</label>
        <locationX>760</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>SelectedRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Case_Plan_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetCasePlanData</name>
        <label>GetCasePlanData</label>
        <locationX>663</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>SelectedId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CasePlanRecordVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Other_Case_Plan</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>create_Choice</name>
        <choiceText>Create</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreateCasePlan</elementReference>
        </value>
    </choices>
    <choices>
        <name>edit_choice</name>
        <choiceText>Edit</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>EditCasePlan</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Case_Plan_Exist</name>
        <label>Case Plan Exist</label>
        <locationX>499</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Plan_Is_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casePlanRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Case_Plan</targetReference>
            </connector>
            <label>Case Plan Is Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Again_Create_Or_Edit</name>
        <label>Check Again Create Or Edit</label>
        <locationX>567</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Plan_Screen</targetReference>
            </connector>
            <label>IsCreate</label>
        </rules>
        <rules>
            <name>isEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>edit_choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Selectd</targetReference>
            </connector>
            <label>isEdit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType_Changed</name>
        <label>Check RecordType Changed</label>
        <locationX>1097</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Status_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Chnaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>storeCasePlanRecord.RecordTypeId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCaseStatusOrder</targetReference>
            </connector>
            <label>Record Type Not Chnaged</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateOrEdit</name>
        <label>Create Or Edit</label>
        <locationX>192</locationX>
        <locationY>337</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Case_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordTypeSelectScreen</targetReference>
            </connector>
            <label>Create Case Plan</label>
        </rules>
        <rules>
            <name>Edit_Case_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>edit_choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Plan</targetReference>
            </connector>
            <label>Edit Case Plan</label>
        </rules>
    </decisions>
    <formulas>
        <name>fieldsDataCSV</name>
        <dataType>String</dataType>
        <expression>{!loopRecordVar.Id}&amp;&quot;,&quot;&amp;{!loopRecordVar.Name}&amp;&quot;,&quot;&amp;{!loopRecordVar.CaseStatusOrdering__c}&amp;&quot;,&quot;&amp;{!casePlanStatus}&amp;&quot;,&quot;&amp;{!loopRecordVar.RecordType_SupportProcess__c}</expression>
    </formulas>
    <formulas>
        <name>RecordTypeCSVFormula</name>
        <dataType>String</dataType>
        <expression>{!RecordTypeData.Id}&amp;&quot;,&quot;&amp;{!RecordTypeData.DeveloperName}&amp;&quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Create Case Plan Flo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Case Plan</label>
    <loops>
        <name>Loop_Over_RecordType_Records</name>
        <label>Loop Over RecordType Records</label>
        <locationX>43</locationX>
        <locationY>336</locationY>
        <assignNextValueToReference>RecordTypeData</assignNextValueToReference>
        <collectionReference>ListOfRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_CSV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOrEdit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Plan_Record</name>
        <label>Create Case Plan Record</label>
        <locationX>523</locationX>
        <locationY>776</locationY>
        <assignRecordIdToReference>CasePlanRecordVar.Id</assignRecordIdToReference>
        <connector>
            <targetReference>GetCasePlanData</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseStatusOrdering__c</field>
            <value>
                <elementReference>CaseStatesOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CasePlanName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__c</field>
            <value>
                <elementReference>SelectedRecordTypeValue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordType_SupportProcess__c</field>
            <value>
                <elementReference>SelectedRecordTypeValue.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Plan__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Plan</name>
        <label>Get Case Plan</label>
        <locationX>285</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Plan_Exist</targetReference>
        </connector>
        <object>Case_Plan__c</object>
        <outputReference>casePlanRecordList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Plan_After_Update</name>
        <label>Get Case Plan After Update</label>
        <locationX>926</locationX>
        <locationY>655</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Custom_Setting_For_Selected</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>storeCasePlanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>51</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_RecordType_Records</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ListOfRecordTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Case_Plan</name>
        <label>Get Selected Case Plan</label>
        <locationX>617</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Selected_RecordTypeId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <object>Case_Plan__c</object>
        <outputReference>storeCasePlanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseStatusOrdering__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>RecordType_SupportProcess__c</queriedFields>
        <queriedFields>RecordTypeId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedRecordType</name>
        <label>GetSelectedRecordType</label>
        <locationX>948</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Edited_Record_case_Plan</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>SelectedRecordTypeValue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedRecordTypeDataCreate</name>
        <label>GetSelectedRecordTypeDataCreate</label>
        <locationX>410</locationX>
        <locationY>683</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Plan_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>SelectedRecordTypeValue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Custom_Setting_For_Selected</name>
        <label>Update Custom Setting For Selected</label>
        <locationX>1105</locationX>
        <locationY>655</locationY>
        <connector>
            <targetReference>manage_Case_Steps</targetReference>
        </connector>
        <filters>
            <field>Support_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SupportProcessData.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Plan__c</field>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Plan_Support_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Edited_Record_case_Plan</name>
        <label>Update Edited Record case Plan</label>
        <locationX>763</locationX>
        <locationY>508</locationY>
        <connector>
            <targetReference>Update_Other_Case_Plan</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseStatusOrdering__c</field>
            <value>
                <elementReference>CaseStatesOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__c</field>
            <value>
                <elementReference>SelectedRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordType_SupportProcess__c</field>
            <value>
                <elementReference>SelectedRecordTypeValue.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_Case_Plan</name>
        <label>Update Other Case Plan</label>
        <locationX>764</locationX>
        <locationY>657</locationY>
        <connector>
            <targetReference>Get_Case_Plan_After_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SelectedId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Plan__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Case_Plan_Screen</name>
        <label>Create Case Plan Screen</label>
        <locationX>576</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSelectedRecordTypeDataCreate</targetReference>
        </connector>
        <fields>
            <name>CasePlanName</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>caseStatusDualListBox</name>
            <extensionName>c:caseMgmt_CaseStatusDualListBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>StatusOrder</name>
                <value>
                    <elementReference>CaseStatesOrder</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseStatesOrder</assignToReference>
                <name>StatusOrder</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateCase_Plan</name>
        <label>Select Choice</label>
        <locationX>161</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Create_Or_Edit_choices</name>
            <choiceReferences>create_Choice</choiceReferences>
            <choiceReferences>edit_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Your Choice For Case Plan</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Case_Plan_Screen</name>
        <label>Edit Case Plan Screen</label>
        <locationX>943</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_RecordType_Changed</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>storeCasePlanRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordTypeEdit</name>
            <extensionName>c:caseMgmt_CaseRecordTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelPicklist</name>
                <value>
                    <stringValue>Record Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeCSV</name>
                <value>
                    <elementReference>RecordTypeCSVVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedRecordTypeId</name>
                <value>
                    <elementReference>SelectedRecordType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedRecordType</assignToReference>
                <name>SelectedRecordTypeId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error!!</label>
        <locationX>291</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase_Plan</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>No Case Plan Exist Please Create One</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Case_Plan</name>
        <label>Existing Case Plan</label>
        <locationX>789</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Case_Plan</targetReference>
        </connector>
        <fields>
            <name>DisplayHeaderForExistngCasePlan</name>
            <fieldText>Select case Plan To Edit</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CasePlanDataTable</name>
            <extensionName>c:caseMgmt_CaseStepDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>CasePlanColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCasePlan</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectArrayCasePlan</name>
                <value>
                    <elementReference>casePlanRecordList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Case_Plan_Edit</name>
        <label>Manage Case Plan</label>
        <locationX>1164</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSelectedRecordType</targetReference>
        </connector>
        <fields>
            <name>CaseStatusEditComponent</name>
            <extensionName>c:caseMgmt_CaseStatusDualListBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>StatusOrder</name>
                <value>
                    <elementReference>CaseStatesOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isEditScreen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedStatusOrder</name>
                <value>
                    <elementReference>selectedCaseStatusOrder</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseStatesOrder</assignToReference>
                <name>StatusOrder</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecordTypeSelectScreen</name>
        <label>Select Record Type</label>
        <locationX>205</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Selected_Case_Picklist</targetReference>
        </connector>
        <fields>
            <name>DisplaytextRecordTypeScreen</name>
            <fieldText>Select Record Type</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>caseRecordTypeComponent</name>
            <extensionName>c:caseMgmt_CaseRecordTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordTypeCSV</name>
                <value>
                    <elementReference>RecordTypeCSVVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedRecordTypeId</name>
                <value>
                    <elementReference>SelectedRecordType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelPicklist</name>
                <value>
                    <stringValue>Record Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedRecordType</assignToReference>
                <name>SelectedRecordTypeId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>CreateCase_Plan</startElementReference>
    <status>Active</status>
    <subflows>
        <name>manage_Case_Steps</name>
        <label>manage Case Step</label>
        <locationX>1324</locationX>
        <locationY>655</locationY>
        <flowName>Create_Case_Step_Flow</flowName>
        <inputAssignments>
            <name>CaseId</name>
        </inputAssignments>
        <inputAssignments>
            <name>CasePlanRecord</name>
            <value>
                <elementReference>storeCasePlanRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatusOrder</name>
            <value>
                <elementReference>storeCasePlanRecord.CaseStatusOrdering__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isAdmin</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Message</assignToReference>
            <name>Message</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CasePlanColumns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Name,Name,text;CaseStatusOrdering,CaseStatusOrdering__c,text;Status,Status__c,text;SupportProcess,RecordType_SupportProcess__c,text</stringValue>
        </value>
    </variables>
    <variables>
        <name>casePlanRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>CasePlanRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>casePlanStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatesOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateCasePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;Create&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>CreateCaseStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dataArr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeleteCaseStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EditCasePlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </variables>
    <variables>
        <name>EditCaseStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistActiveCasePlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>flowCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListOfRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>loopRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeCSVVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>selectedCaseStatusOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedPicklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordTypeValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>storeCasePlanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>SupportProcessData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BusinessProcess</objectType>
    </variables>
    <variables>
        <name>updatedStatusOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
