src/flows/HelpDesk_Agent_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_HelpDesk_Notes</name>
        <label>Get HelpDesk Notes</label>
        <locationX>326</locationX>
        <locationY>50</locationY>
        <actionName>AssembleString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_all_notes</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>notesVariable</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>Ticket_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>HelpDesk_Ticket__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>HelpDesk Agent Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HelpDesk Agent Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Notes</name>
        <label>Create Notes</label>
        <locationX>957</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>Body__c</field>
            <value>
                <elementReference>Enter_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HelpDesk_Ticket__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>HelpDesk_Note__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Ticket_Status</name>
        <label>Get Ticket Status</label>
        <locationX>175</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HelpDesk_Notes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>HelpDesk_Ticket__c</object>
        <outputReference>varCurrentHelpDeskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ticket_Status</name>
        <label>Update Ticket Status</label>
        <locationX>740</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Notes</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>HelpDeskTicketStatus</elementReference>
            </value>
        </inputAssignments>
        <object>HelpDesk_Ticket__c</object>
    </recordUpdates>
    <screens>
        <name>Display_all_notes</name>
        <label>Display all notes</label>
        <locationX>543</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Ticket_Status</targetReference>
        </connector>
        <fields>
            <name>displayNotes</name>
            <fieldText>Notes History
-----------------------------------
{!notesVariable}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HelpDeskTicketStatus</name>
            <choiceReferences>Ticket_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ticket Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enter_Notes</name>
            <fieldText>Add Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Ticket_Status</startElementReference>
    <status>Active</status>
    <variables>
        <name>notesVal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HelpDesk_Note__c</objectType>
    </variables>
    <variables>
        <name>notesVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>notevar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>notsValnew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectColVarNotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>HelpDesk_Note__c</objectType>
    </variables>
    <variables>
        <name>updatedNotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HelpDesk_Note__c</objectType>
    </variables>
    <variables>
        <name>updatedNotesBody</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedNotesCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentHelpDeskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HelpDesk_Ticket__c</objectType>
    </variables>
    <variables>
        <name>varLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HelpDesk_Note__c</objectType>
    </variables>
</Flow>
