HelpDesk/src/flows/HelpDesk_Notify_Group.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_To_Chatter_Group</name>
        <label>Post To Chatter Group</label>
        <locationX>863</locationX>
        <locationY>50</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>New ticket {!varNewTicket.Name} has been created. Click on link to see more details. {!varNewTicket.Base_URL__c}{!varNewTicket.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>HelpDeskChatterGroupId.Chatter_Group_Id__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_address_specified_in_metadata_type</name>
        <label>Send Email to address specified in metadata type</label>
        <locationX>705</locationX>
        <locationY>50</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Post_To_Chatter_Group</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>New Ticket has been created! click on link for more details: {!varNewTicket.Base_URL__c}/{!varNewTicket.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varEmailSetting.Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Help Desk Ticket Created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>HelpDesk Notify Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HelpDesk Notify Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Setting_MetaData</name>
        <label>Get Email Setting MetaData</label>
        <locationX>181</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Helpdesk_Chatter_Group_Setting</targetReference>
        </connector>
        <filters>
            <field>Email_Address__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Helpdesk_Target_Email__mdt</object>
        <outputReference>varEmailSetting</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Helpdesk_Chatter_Group_Setting</name>
        <label>Get Helpdesk Chatter Group Setting</label>
        <locationX>341</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_newly_created_ticket</targetReference>
        </connector>
        <filters>
            <field>Chatter_Group_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Helpdesk_Chatter_Group__c</object>
        <outputReference>HelpDeskChatterGroupId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Chatter_Group_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_newly_created_ticket</name>
        <label>get newly created ticket</label>
        <locationX>519</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_address_specified_in_metadata_type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>HelpDesk_Ticket__c</object>
        <outputReference>varNewTicket</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Base_URL__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Subject__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Email_Setting_MetaData</startElementReference>
    <status>Active</status>
    <variables>
        <name>ChatterGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HelpDeskChatterGroupId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Helpdesk_Chatter_Group__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Helpdesk_Target_Email__mdt</objectType>
    </variables>
    <variables>
        <name>varNewTicket</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HelpDesk_Ticket__c</objectType>
    </variables>
</Flow>
