CaseManagement/src/flows/Create_Case_Step_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignValue_To_Parent_String</name>
        <label>AssignValue To Parent String</label>
        <locationX>596</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>caseStepParentString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseParentValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Plan_Steps_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Output</name>
        <label>Store Output</label>
        <locationX>218</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created By User</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Operation_On_Plan_Step</name>
        <label>Operation On Plan Step</label>
        <locationX>784</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plan_Step_Created_By</targetReference>
            </connector>
            <label>Is Create</label>
        </rules>
        <rules>
            <name>Is_Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Edit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Plan_Step</targetReference>
            </connector>
            <label>Is Edit</label>
        </rules>
        <rules>
            <name>Is_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Selected_Plan_Step_Record</targetReference>
            </connector>
            <label>Is Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Step_Created_By</name>
        <label>Plan Step Created By</label>
        <locationX>50</locationX>
        <locationY>159</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Plan_Step_Record</targetReference>
            </connector>
            <label>Admin</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Case_Steps</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Similar_Name_Exist</name>
        <label>Similar Name Exist</label>
        <locationX>821</locationX>
        <locationY>685</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanStepRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Screen</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
        <rules>
            <name>Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanStepRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Plan_Step_Record</targetReference>
            </connector>
            <label>Not Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseParentValue</name>
        <dataType>String</dataType>
        <expression>{!PlanStepRecord.Name}&amp;&quot;,&quot;&amp;{!PlanStepRecord.Name}&amp;&quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Create Case Step Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Case Steps</label>
    <loops>
        <name>Loop_Over_Plan_Steps_Records</name>
        <label>Loop Over Plan Steps Records</label>
        <locationX>408</locationX>
        <locationY>267</locationY>
        <assignNextValueToReference>PlanStepRecord</assignNextValueToReference>
        <collectionReference>PlanStepsRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValue_To_Parent_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Step</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Step</name>
        <label>Create Case Step</label>
        <locationX>54</locationX>
        <locationY>561</locationY>
        <assignRecordIdToReference>newCaseStepRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CreateUserScreenSuccessMesage</targetReference>
        </connector>
        <inputAssignments>
            <field>Associated_Status__c</field>
            <value>
                <elementReference>CurrentStatusCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_By_User__c</field>
            <value>
                <elementReference>Enter_Flow_Name_To_Run_Case_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Plan_Step_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlanStepOrder__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Step__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Plan_Step_Record</name>
        <label>Create Plan Step Record</label>
        <locationX>1088</locationX>
        <locationY>684</locationY>
        <assignRecordIdToReference>PlanStepRecord.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>Associate_Case_Status__c</field>
            <value>
                <elementReference>SelectedAssociateCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Plan__c</field>
            <value>
                <elementReference>CasePlanRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>Enter_Flow_Name_To_Case_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Required__c</field>
            <value>
                <elementReference>Is_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Step_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_When__c</field>
            <value>
                <elementReference>selectedParent</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_Step__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Selected_Plan_Step_Record</name>
        <label>Delete Selected Plan Step Record</label>
        <locationX>792</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Delete_Message</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPlanStepId</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Plan_Step_Record</name>
        <label>Get Plan Step Record</label>
        <locationX>237</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Plan_Steps_Records</targetReference>
        </connector>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CasePlanRecord.Id</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>PlanStepsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Plan_Step</name>
        <label>Get Selected Plan Step</label>
        <locationX>970</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Step</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPlanStepId</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>PlanStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Is_Required__c</queriedFields>
        <queriedFields>Flow__c</queriedFields>
        <queriedFields>Associate_Case_Status__c</queriedFields>
        <queriedFields>Start_When__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Similar_Name_Record</name>
        <label>Get Similar Name Record</label>
        <locationX>829</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Similar_Name_Exist</targetReference>
        </connector>
        <filters>
            <field>Case_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CasePlanRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Step_Name</elementReference>
            </value>
        </filters>
        <object>Plan_Step__c</object>
        <outputReference>PlanStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Selected_Plan_Step</name>
        <label>Update Selected Plan Step</label>
        <locationX>1336</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Updated_Successfully</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPlanStepId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>Enter_Flow_Name_To_Run_Case_StepUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Required__c</field>
            <value>
                <elementReference>Is_RequiredEdit</elementReference>
            </value>
        </inputAssignments>
        <object>Plan_Step__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Step</name>
        <label>Create Step</label>
        <locationX>405</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Similar_Name_Record</targetReference>
        </connector>
        <fields>
            <name>AddStepHeading</name>
            <fieldText>Add Step</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Name</name>
            <dataType>String</dataType>
            <fieldText>Step Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>caseStepAssociateStatus</name>
            <extensionName>c:caseMgmt_CaseRecordTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordTypeCSV</name>
                <value>
                    <elementReference>CaseStatusOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedRecordTypeId</name>
                <value>
                    <elementReference>SelectedAssociateCaseStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LabelPicklist</name>
                <value>
                    <stringValue>Add to which Case Status</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAssociateCaseStatus</assignToReference>
                <name>SelectedRecordTypeId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Enter_Flow_Name_To_Case_Step</name>
            <dataType>String</dataType>
            <fieldText>This case step will launch which flow? (Use the Flow API Name without a version number)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>caseParnet</name>
            <extensionName>c:caseMgmt_CaseRecordTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LabelPicklist</name>
                <value>
                    <stringValue>Specify a predecessor (parent) case step</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeCSV</name>
                <value>
                    <elementReference>caseStepParentString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedRecordTypeId</name>
                <value>
                    <elementReference>selectedParent</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedParent</assignToReference>
                <name>SelectedRecordTypeId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AlertForCaseStepParent</name>
            <fieldText>This is optional. If you specify a predecessor, this step cannot be started until the predecessor has completed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_Required</name>
            <dataType>Boolean</dataType>
            <fieldText>This step is required. Its associated flow must be completed before the case can transition to the next case status.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateUserScreenSuccessMesage</name>
        <label>CreateUserScreenSuccessMesage</label>
        <locationX>218</locationX>
        <locationY>560</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Store_Output</targetReference>
        </connector>
        <fields>
            <name>MessageCreateUser</name>
            <fieldText>Case Step Created Successfully!
Click On Next To Add More.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Message</name>
        <label>Delete Message</label>
        <locationX>980</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DeleteMessage</name>
            <fieldText>Plan Step Deleted Successfully!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Case_Steps</name>
        <label>Manage Case Steps</label>
        <locationX>54</locationX>
        <locationY>411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_Step</targetReference>
        </connector>
        <fields>
            <name>AddStepHeadingUser</name>
            <fieldText>Add Step</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Plan_Step_Name</name>
            <dataType>String</dataType>
            <fieldText>Step Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Flow_Name_To_Run_Case_Step</name>
            <dataType>String</dataType>
            <fieldText>This case step will launch which flow? (Use the Flow API Name without a version number)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>543</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Step</targetReference>
        </connector>
        <fields>
            <name>DisplayTextScreenMessage</name>
            <fieldText>Record already exist please create different!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Case_Step</name>
        <label>Update Case Step</label>
        <locationX>1147</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Selected_Plan_Step</targetReference>
        </connector>
        <fields>
            <name>UpdateScreenDisplayText</name>
            <fieldText>Update Step</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ToolTipMessage</name>
            <fieldText>Name, Status, and Parent/Predecessor  cannot be changed in order to protect existing deployments. To accomplish this, please delete this step and create a new one with the proper name.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseStepName</name>
            <fieldText>Step Name: {!PlanStepRecord.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AssociateStatus</name>
            <fieldText>Status: {!PlanStepRecord.Associate_Case_Status__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parent</name>
            <fieldText>Parent/Predecessor: {!PlanStepRecord.Start_When__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_RequiredEdit</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>PlanStepRecord.Is_Required__c</elementReference>
            </defaultValue>
            <fieldText>This step is required. Its associated flow must be completed before the case can transition to the next case status.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Flow_Name_To_Run_Case_StepUpdate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PlanStepRecord.Flow__c</elementReference>
            </defaultValue>
            <fieldText>This case step will launch which flow? (Use the Flow API Name without a version number)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Updated_Successfully</name>
        <label>Updated Successfully</label>
        <locationX>1335</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UpdateMessageScreen</name>
            <fieldText>Case Step Updated Successfully!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Operation_On_Plan_Step</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CasePlanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Plan__c</objectType>
    </variables>
    <variables>
        <name>CaseStatusOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseStepParentString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>None,None;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Create</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CurrentStatusCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Delete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeleteDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Edit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EditDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isAdmin</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCaseStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Step__c</objectType>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PlanStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Step__c</objectType>
    </variables>
    <variables>
        <name>PlanStepsRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plan_Step__c</objectType>
    </variables>
    <variables>
        <name>SelectedAssociateCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedPlanStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StepName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
